.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.cache
.idea
*.iml
dist
*.log
node_modules
elm-stuff
*.bs.js
*.mjs
.merlin
*.gen.tsx
lib
.parcel-cache
.direnv
.bsb.lock
